[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
djoser = "*"
django-filter = "*"
django-cors-headers = "*"
mysqlclient = "*"
djangorestframework-camel-case = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
django-debug-toolbar = "*"

[requires]
python_version = "3.12"
